/*.body{
    background-image:url("D:\Smart_agronomy-master\Smart_agronomy-master\src\Components\Images\about_img.jpg");
    background-size:100% 70%;
    background-repeat:no-repeat;
    background-position: center;
    box-sizing: border-box;
    height: 100vh;
    animation:slideImage 30s ease-in-out infinite;
    animation-delay: 5s;



}
 @keyframes slideImage {
    0%{
        background-image:url("D:\Smart_agronomy-master\Smart_agronomy-master\src\Components\Images\about_img.jpg");
       
    }
    25%{
        background-image: url("D:\Smart_agronomy-master\Smart_agronomy-master\src\Components\Images\Home_Picture4.png");
      
    }
    50%{
        background-image: url("D:\Smart_agronomy-master\Smart_agronomy-master\src\Components\Images\Home_Picture2.png");
    }
    75%{
        background-image: url("D:\Smart_agronomy-master\Smart_agronomy-master\src\Components\Images\Home_Picture3.png");
    }
    100%{
       
        background-image: url("D:\Smart_agronomy-master\Smart_agronomy-master\src\Components\Images\Home_Picture1.png");
    }
} */


.website_logo {
    position: fixed;
    margin-top: -200px;
    display: none;
}

.website_logo:hover {
    cursor: pointer;
}

.logo .logo-head1 {
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 60px;
}

nav {
    margin-top: 70px;
    -webkit-margin-top-collapse: collapse;
    opacity: 0.9;
    background-color: rgb(0, 50, 5);
    position: fixed;
    display: block;
    width: 100%;





}

nav ul li {
    list-style-type: none;
    display: inline-block;
    line-height: 20px;
    align-items: center;
    margin-right: 20px;
    border-right: 1px solid #000000;
    color: #ffffff;

}

nav ul {
    float: right;
    margin-right: 23%;
    line-height: 20px;
    padding: 0px;
    margin-top: 10px;

}

nav ul li a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    padding: 16px;
    position: relative;
    font-size: 17px;
    justify-content: right;
    line-height: 20px;
    margin-right: 20px;



}

nav ul li a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    top: 40px;
    background-color: orangered;
    transition: 0.4s ease;

}

.dashboard-underline {
    position: fixed;
    width: 70px;
    height: 1.5px;
    background-color: orangered;
    margin-left: 0.1%;
    margin-top: 4px;
}

nav ul li a:hover::after {
    width: 90%;
    left: 5px;
}

nav ul li a:hover {
    color: rgb(0, 247, 255);
    transform: scale();
    box-shadow: 0px 0px 0px 0px;
}

/* nav ul li a:is(:link, :active, :visited).active{
    color:white;
    background-image:linear-gradient(rgb(0, 255, 60), rgb(141, 141, 142))  ;
} */
/* nav ul li.active-root a{
    color:rgb(0, 0, 0)
}
.slide{
    position: absolute;
    top:0;
    left:350px;
    width: 120px;
    height:100%;
    background-color: red;
    z-index: -1;
    transition: .5s;
    left:350px;
}
nav ul li:nth-child(1).active-root ~ .slide{
    left:350px;
    opacity: 1;
}
nav ul li:nth-child(2).active-root ~ .slide{
    left:450px;
    opacity: 1;
}
nav ul li:nth-child(3).active-root ~ .slide{
    left:550px;
    opacity: 1;
}
nav ul li:nth-child(4).active-root ~ .slide{
    left:650px;
    opacity: 1;
}nav ul li:nth-child(5).active-root ~ .slide{
    left:750px;
    opacity: 1;
} */
.active-link {
    color: red
}

.button {
    position: absolute;
    margin-left: 77%;


}

nav button {

    margin-right: 0px;
    padding: 7px 16px;
    margin-top: 5px;
    background-color: transparent;
    font-size: 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: 0px solid rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

nav button:hover {
    background-color: rgba(2, 108, 13, 0.278);
    cursor: pointer;
    transform: scale(1.1);
    font-size: 15px;
    font-weight: bold;
    padding: 7px 16px;

}

nav button:active {
    transform: translate(0.1em, 0.1em);
    padding: 7px 16px;
}

.logo {
    width: 15vh;
    height: 40px;
    position: relative;
}

.search_bar {
    border-radius: none;
    padding: 15px 0px;
    margin-top: 0px;
    position: fixed;
    margin-left: 0px;
    background-color: rgb(0, 128, 0);
    width: 100%;
}

.search_bar .search-input {
    margin-left: 30%;
    padding: 7px 10px;
    width: 40%;
    border-radius: 50px;
    border: none;
    border-top-right-radius: none;
    background-color: rgba(84, 255, 84, 0.471);
}

.search_bar .search-input::-webkit-input-placeholder {
    color: rgb(235, 235, 235);
}

.search_bar .search-btn {
    padding: 7px 20px;
    background-color: rgb(0, 40, 1);
    border: none;
    border-radius: 50px;
    margin-left: -80px;
    color: rgba(246, 246, 246, 0.74);
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    cursor: pointer;
    transition: ease-in;

}

.search_bar .search-btn:hover {
    background-color: rgb(65, 65, 65);


}

.menu-bar-wrap {
    position: absolute;
    margin-left: 96.5%;
    margin-top: 100px;
    cursor: pointer;
    border-radius: 10px;


}

.menu-bar {
    position: fixed;
    color: rgb(0, 0, 0);
    height: 2px;
    width: 20px;
    background: rgb(255, 255, 255);
    margin-top: 60px;
    border-radius: 10px;

}

.menu-bar1 {
    position: absolute;
    color: rgb(0, 0, 0);
    height: 2px;
    width: 20px;
    background: rgb(255, 255, 255);
    margin-top: 16px;

}

.menu-bar2 {
    position: absolute;
    color: rgb(0, 0, 0);
    height: 2px;
    width: 20px;
    background: rgb(255, 255, 255);
    margin-top: 22px;

}

.cart {
    height: 5vh;
    position: fixed;
    margin-left: 95%;
    margin-top: 15px;
    cursor: pointer;
}

.sub-menu {
    background-color: rgb(241, 239, 239);
    margin-left: 80%;
    position: sticky;
    width: 250px;
    margin-top: 10px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu.open-menu {
    position: absolute;
    margin-top: 10px;
    max-height: 400px;
    border-radius: 10px;
    ;
}

.sub-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 0px;

}

.sub-menu a p {
    width: 100%;

}

.sub-menu a img {
    height: 4vh;
    background-color: none;
    border-radius: 50%;
    padding: 8px;
    margin-right: 18px;

}

.sub-menu a span {
    font-size: 20px;
    margin-right: 20px;
    transition: transform 0.5s;


}

.sub-menu a:hover span {
    transform: translateX(5px)
}

.sub-menu a:hover p {
    font-weight: 600;
}

/* .bar{
    position:fixed;
    height:5vh;
    cursor:pointer;
    margin-left:95%;
    margin-top:70px;
    width:30px;
} */
.sub-nav {
    display: none;
}

nav ul li:hover .sub-nav {
    position: sticky;
    display: block;
    margin-top: 1%;

    margin-left: -25px;

}

.sub-nav ul li {
    display: inline-block;
    margin-top: 2px;
    font-size: px;
    text-decoration: none;
    border-right: none;


}

.sub-nav ul li:hover {
    background-color: rgba(163, 162, 162, 0.165);
}

.sub-nav ul {
    width: 170px;
    position: absolute;
    background-color: black;
    left: 0px;
    padding: 3px 0px;
    background-color: rgb(0, 50, 5);

}

.sub-nav ul li a {
    font-size: 15px;
    font-weight: none;
    text-decoration: none;
}

.center {
    background-color: white;
}

.products img {
    height: 30vh;

}

.products p {
    color: rgb(45, 45, 45);
    font-size: 20px;
}

.products h2 {
    color: rgb(0, 0, 0);
    font-size: 23px;
}

.products span {
    color: rgb(107, 107, 107);
    font-size: 15px;
}

.products {
    margin-top: 70px;
    margin-left: -90px;
    display: grid;
    position: fixed;
}

.main {
    position: relative;
    margin-left: -50%;
    text-align: center;
    margin-top: -350px;
}

.main h5 {
    -webkit-text-fill-color: rgba(41, 2, 2, 0.832);
    font-size: 40px;
    font-family: fantasy;
    letter-spacing: 0px;
    font-weight: bold;
    text-decoration: overline;
    text-transform: uppercase;
    letter-spacing: 5px;


}

.main p {
    color: rgba(41, 2, 2, 0.832);
    margin-top: 0px;
    font-weight: 600;
}

.main span {
    color: rgba(255, 255, 255, 0.832);
    font-weight: 600;
}

.main button {
    color: rgb(255, 255, 255);
    border: 2px solid green;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    ;
    background-color: green;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 600;
    transition: 0.5s ease;

}

.main button:is(:hover, :focus) {
    color: rgb(0, 53, 11);
    background-color: rgb(255, 255, 255);
    border: none;
}

.heading {
    color:rgb(130, 0, 0);
    margin-top: 50px;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    background-color: #f4f4b42c;
}

/* hr {
    position: absolute;
    height: 100px;
} */

.more-products {
    margin-top: 70px;
    margin-left: 44%;
    padding: 10px 25px;
    background-color: rgb(65, 162, 187);
    border-radius: 50px;
    color: white;
    font-size: 17px;
    border: none;
    font-family: Arial, Helvetica, sans-serif
}

.more-products:hover {
    background-color: rgba(2, 153, 167, 0.506);
    transition: .2s;

}

.importance {
    margin-left: 70px;
}

.importance h2 {
    margin-top: 50px;
}

.agri-importance-img {
    margin-top: -550px;
    height: 350px;
    width: 500px;
    border-radius: 10px;

}

.importance-para {
    width: 50%;
    margin-left: 0%;
    margin-top: 50px;
    justify-content: right;

}
.importance-para img{
    margin-top:-500px;
    margin-left: 110%;
    height: 50vh;
}

.importance p {
    color: rgb(116, 115, 115);
    font-size: 17px;
    ;
}

.market h2 {
    margin-top: 50px;
    margin-left: 70px;
}

.market .img {
    height: 50vh;
    width: 500px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 20px;
    box-shadow: 0px 0px 1px 0px black;
}

.invert-arrows {

    margin-top: -380px;
    height: 10vh;
    margin-left: 610px;
}

.logout-logo {
    height: 4vh;
    position: absolute;
    margin-top: 12px;
    margin-left: -15px;
}

.profile-image {
    font-size: 48px;
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.profile-img {
    height: 4vh;
    border-radius: 60%;
    position: absolute;
    margin-top: 11px;
    margin-left: -13px;
}

.profile-before {
    height: 5vh;
    border-radius: 50%;
    margin-left: -10px;
    cursor: pointer;
}

.profile-pic {
    height: 4vh;
    border-radius: 60%;
    position: absolute;
    margin-top: 11px;
    margin-left: -13px;
}

.Account-menu {
    margin-left: 50px;
}

.prohhh {
    display: flex;
    margin-top: 0px;
    margin-left: 70px;

}

.cards {
    margin-right: 50px;
}

.cards:hover {
    transform: scale(0.9);
    transition: .4s;

}

.card-btn {
    margin-left: 25px;
    padding: 6px 70px;
    background-color: green;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 70px;
    border: none;
}

.prohhh button:hover {
    background-color: rgb(6, 159, 6);
    transition: .2s;
    cursor: pointer;
}

.logo111 img {
    height: 50vh;
    margin-top: -70px;
    position: fixed;
    margin-left: 0px;
}
.main-services{
    margin-top: -10px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;

}
.service1{
    background-color: rgba(144, 250, 109, 0.45);
    padding:20px;
    text-align: center;
    margin-right: 50px;
    
}
.service1 h2{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:green;
    font-weight: 600;
}
.service1 p{
    font-size: 15px;
}
.service2{
    background-color: rgba(144, 250, 109, 0.45);
    padding:20px;
    text-align: center;
    margin-right: 50px;
    
}
.service2 h2{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:green;
    font-weight: 600;
}
.service2 p{
    font-size: 15px;
}
.service3{
    background-color: rgba(144, 250, 109, 0.45);
    padding:20px;
    text-align: center;
    margin-right: 50px;
    
}
.service3 h2{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:green;
    font-weight: 600;
}
.service3 p{
    font-size: 15px;
}
.our-services{
    margin-top: 150px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(130, 0, 0);
    font-weight: 600;
    font-size: 35px;
}
.our-services-hrr{
    color:rgb(0, 215, 201);
    margin-left: 45%;
    margin-top: -8px;
    height:50px;
    width:100px;
}
.our-brands-hrr{
    color:rgb(0, 215, 201);
    margin-left: 45%;
    margin-top: 0px;
    height:50px;
    width:100px;
}